/*
* {
    outline: 1px solid red;
}
*/

.page-tile
{
    font-size: 140%;
    font-weight: 600;
}
.opacity-hi {
    opacity: 35%;
}

.opacity-med {
    opacity: 50%;
}

.opacity-low {
    opacity: 75%;
}

.home-page-panel {
    margin-top: 8px;
}