@using KindleClippings
@inject KindleClippingService KindleService
@inject IStringLocalizer<KindleClippingOfTheDay> L

@if (_noClippingIsAvailable)
{
	<MudAlert Severity="Severity.Warning">@L["NoClippingIsAvailableWarningMessage"]</MudAlert>
}
else
{
	<MudStack>
		<MudText HtmlTag="em">
			@if (_clipping is null)
			{
				<MudSkeleton Width="80em" />
			}
			else
			{
				<span>«@_clipping.Text»</span>
			}
		</MudText>
		<MudText Typo="Typo.caption" Align="Align.Right">
			@if (_clipping is not null)
			{
				<span>
					tratto da: <MudText Color="Color.Info" Inline>@_clipping.Book.Title</MudText>
					@if (_clipping.Book.Author is not null)
					{
						<MudText Inline="false"> (@_clipping.Book.Author)</MudText>
					}
				</span>
			}
		</MudText>
		@if (_clipping is not null)
		{
			<MudButton Variant="Variant.Text" OnClick="DecreaseDeltaDays">@L["ShowPreviusDay"] (@DeltaDays)</MudButton>
		}
	</MudStack>
}

    
@code {
	[Parameter]
	public int DeltaDays { get; set; } = 0;

	private Clipping? _clipping;
	private bool _noClippingIsAvailable = false;

	protected override async Task OnInitializedAsync()
	{
		GetClipping();
	}

	protected async Task GetClipping()
	{
		_clipping = null;
		StateHasChanged();
		_clipping = await KindleService.GetClippingOfTheDay(DeltaDays);
		if (_clipping is null)
			_noClippingIsAvailable = true;
		StateHasChanged();
	}

	protected void DecreaseDeltaDays()
	{
		DeltaDays--;
		GetClipping();
	}
}